= form_for @protocol, remote: true do |f|
  = f.text_field :first_name, placeholder: 'Ім\'я'
  = f.text_field :last_name, placeholder: 'Прізвище'
  = f.text_field :birthday, placeholder: 'Дата народження'
  = f.text_field :address, placeholder: 'Команда'
  = f.text_field :sex, placeholder: 'Стать'
  = f.text_field :weight, placeholder: 'Вага'
  = f.text_field :class_id, placeholder: 'Розряд'
  = f.text_field :first_snatch, placeholder: 'Ривок'
  = f.text_field :first_jerk, placeholder: 'Поштовх'
  = f.submit 'Додати учасника'