%table#weightlifting-weighing.table.table-bordered.table-hover.protocol.display.compact.without-border
  %thead
    %tr
      %th #
      %th Ім'я
      %th Прізвище
      %th Д.Н. <br/> yyy-mm-dd
      %th Команда
      %th Розряд
      %th Вага
      %th Ривок
      %th Поштовх
  %tfoot
  %tbody
    - protocols.each_with_index do |sportsman, index|
      - index = index + 1
      %tr{'data-sportsman-id'=> "#{sportsman.id}" }
        %td
          = index
        %td
          = text_field :sportsman, :first_name, :value => sportsman.first_name
        %td
          = text_field :sportsman, :last_name, :value => sportsman.last_name
        %td
          = text_field :sportsman,
           :birthday,
           :value => sportsman.birthday ? sportsman.birthday.strftime("%F") : nil,
           size: 10
        %td
          = text_field :sportsman, :address, :value => sportsman.address
        %td
          = text_field :sportsman, :class_id, :value => sportsman.class_id, size: 5
        %td
          = text_field :sportsman, :weight, :value => sportsman.weight, size: 5
        %td
          = text_field :sportsman, :first_snatch, :value => sportsman.first_snatch, size: 5
        %td
          = text_field :sportsman, :first_jerk, :value => sportsman.first_jerk, size: 5