%table#weightlifting-competitions.table.table-bordered.table-hover.protocol{:cellspacing => "0"}
  %thead
    %tr
      %th{:rowspan => "2"} #
      %th{:rowspan => "2"} Ім'я
      %th{:rowspan => "2"} Прізвище
      %th{:rowspan => "2"} Д.Н. <br/> yyy-mm-dd
      %th{:rowspan => "2"} Команда
      %th{:rowspan => "2"} Вага
      %th{:rowspan => "2"} Розряд
      %th{:colspan => "4"} Ривок
      %th{:colspan => "4"} Поштовх
      %th{:rowspan => "2"} Сумма
      %th{:rowspan => "2"} Місце
      %th{:rowspan => "2"}
    %tr
      %th 1
      %th 2
      %th 3
      %th рез.
      %th 1
      %th 2
      %th 3
      %th рез.
  %tfoot
  %tbody
    - protocols.each_with_index do |sportsman, index|
      - index = index + 1
      %tr{'data-sportsman-id'=> "#{sportsman.id}" }
        %td.padding-8
          = index
        %td
          = text_field :sportsman, :first_name, :value => sportsman.first_name
        %td
          = text_field :sportsman, :last_name, :value => sportsman.last_name
        %td
          = text_field :sportsman,
           :birthday,
           :value => sportsman.birthday ? sportsman.birthday.strftime("%F") : nil,
            size: 10
        %td
          = text_field :sportsman, :address, :value => sportsman.address
        %td
          = text_field :sportsman, :weight, :value => sportsman.weight
        %td
          = text_field :sportsman, :class_id, :value => sportsman.class_id, size: 5
        %td
          = text_field :sportsman, :first_snatch, :value => sportsman.first_snatch, size: 5
        %td
          = text_field :sportsman, :second_snatch, :value => sportsman.second_snatch, size: 5
        %td
          = text_field :sportsman, :third_snatch, :value => sportsman.third_snatch, size: 5
        %td
          = text_field :sportsman, :result_snatch, :value => sportsman.result_snatch, size: 5
        %td
          = text_field :sportsman, :first_jerk, :value => sportsman.first_jerk, size: 5
        %td
          = text_field :sportsman, :second_jerk, :value => sportsman.second_jerk, size: 5
        %td
          = text_field :sportsman, :third_jerk, :value => sportsman.third_jerk, size: 5
        %td
          = text_field :sportsman, :result_jerk, :value => sportsman.result_jerk, size: 5
        %td
          = sportsman.total_result
        %td
          = sportsman.place
        %td
          Виклик