%table.table.table-bordered.table-hover.protocol
  %thead
    %tr
      %th #
      %th Ім'я
      %th Прізвище
      %th Д.Н.
      %th Команда
      %th Розряд
      %th Вага
      %th Ривок
      %th Поштовх
  %tfoot
  %tbody
    - ProtocolWlCompetition.all.each_with_index do |sportsman, index|
      - index = index + 1
      %tr
        %th
          = index
        %th
          = sportsman.first_name
        %th
          = sportsman.last_name
        %th
          = sportsman.birthday
        %th
          = sportsman.address
        %th
          = sportsman.class_id
        %th
          = sportsman.weight
        %th
          = sportsman.first_snatch
        %th
          = sportsman.first_jerk