%table.table.table-bordered.table-hover.protocol
  %thead
    %tr
      %th{:rowspan => "2"} #
      %th{:rowspan => "2"} Ім'я
      %th{:rowspan => "2"} Прізвище
      %th{:rowspan => "2"} Д.Н.
      %th{:rowspan => "2"} Команда
      %th{:rowspan => "2"} Розряд
      %th{:colspan => "4"} Ривок
      %th{:colspan => "4"} Поштовх
      %th{:rowspan => "2"} Сумма
      %th{:rowspan => "2"} Місце
      %th{:rowspan => "2"}
    %tr
      %th 1
      %th 2
      %th 3
      %th рез.
      %th 1
      %th 2
      %th 3
      %th рез.
  %tfoot
  %tbody
    - ProtocolWlCompetition.all.each_with_index do |sportsman, index|
      - index = index + 1
      %tr
        %th
          = index
        %th
          = sportsman.first_name
        %th
          = sportsman.last_name
        %th
          = sportsman.birthday
        %th
          = sportsman.address
        %th
          = sportsman.class_id
        %th
          = sportsman.first_snatch
        %th
          = sportsman.second_snatch
        %th
          = sportsman.third_snatch
        %th
          = sportsman.result_snatch
        %th
          = sportsman.first_jerk
        %th
          = sportsman.second_jerk
        %th
          = sportsman.third_jerk
        %th
          = sportsman.result_jerk
        %th
          = sportsman.total_result
        %th
          = sportsman.place
        %th
          Виклик