!!!
%html
  %head
    %title
      4Brain
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => '/assets/brain-logo-480x349.png', :rel => "shortcut icon", :type => "image/x-icon"}/

  %body
    .row
      = render 'layouts/header'
    .row
      .col-lg-2
        .row
          = render 'layouts/left_panel'
      .col-lg-8
        .row
          = yield
      .col-lg-2
        .row
          = render 'layouts/right_panel'
    .row
      = render 'layouts/footer'

